.navbar {
	background: #337ab7;
	border: 0;
	border-radius: 0;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:visited {
	color: #fff !important;
}
.setup {
	border: 1px solid #e5e5e5;
	border-top: 5px solid #337ab7;
	border-radius: 2px;
	margin-bottom: 40px;
}
.setup .input {
	padding: 20px 30px;
}
.setup .result {
	padding: 8px 30px;
	background: #f7f7f9;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	font-size: 16px;
}
.setup .input > div {
	padding: 4px 0;
}
.setup .input input {
	width: 80%;
	text-transform: uppercase;
}
.setup .input .option-type,
.setup .input .delete-trade {
	padding-top: 24px;
}
.add-trade-btn-wrapper {
	margin-top: 16px;
}
.net-profit {
	line-height: 30px;
}
.green {
	color: #093;
}
.red {
	color: #DF514C;
}
.chart-wrapper {
	padding: 16px 0;
}

footer {
	padding: 30px 0;
}

@media (min-width: 800px) {
	.container {
		width: 800px;
	}
	.delete-setup {
		text-align: right;
	}
}